---
layout: default
type: index
title:
pagination:
  enabled: true
---
<div class="block block--category block--category3 collapsible-nodes">
  <span class="u-anchorTarget"></span>
  <div class="block-container">
    {% for post in site.posts %}
    <div class="block-body block-body--collapsible is-active nodenormal">
      <div class="node node--id15 node--depth2 node--forum">
        <div class="node-body">
          <span class="node-icon" aria-hidden="true">
              <i class="fa--xf fal fa-comments" aria-hidden="true"></i>
          </span>
          <div class="node-main js-nodeMain">
            <h3 class="node-title">
              <a href="{{ post.url }}"
                 data-xf-init="element-tooltip"
                 data-shortcut="node-description">
                {{ post.title }}
              </a>
            </h3>
            <div class="node-description node-description--tooltip js-nodeDescTooltip">
              {% for tag in post.tags %}{{ tag }} {% endfor %}
            </div>
          </div>
          <div class="node-extra">
            <div class="node-extra-row">
              <ul class="listInline listInline--bullet">
                <li>
                  <time class="node-extra-date u-dt"
                        dir="auto"
                        datetime="{{ post.date | date: date_to_xmlschema }}"
                        data-time="{{ post.date | date: '%s' }}"
                        data-date-string="{{ post.date | date: '%b %d, %Y' }}"
                        data-time-string="{{ post.date | date: '%I:%m %p' }}"
                        title="{{ post.date | date: '%b %d, %Y at %I:%m %p' }}">
                    {{ post.date | date: '%b %d, %Y' }}
                  </time>

                </li>
              </ul>
            </div>
            <div class="node-extra-row">
              {% for tag in post.tags %}{{ tag }} {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
