        <footer class="p-footer" id="footer">
            <div class="p-footer--container footer-stretched">
                <div class="p-footer-default">
                    <div class="p-footer-inner">
                        <div class="p-footer-row">
                            <div class="p-footer-row-main">
                            </div>
                            <div class="p-footer-row-opposite">
                                <ul class="p-footer-linkList">
                                    <li>
                                        <a href="/">
                                            Home
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-footer-copyright">
                    <div class="p-footer-inner">
                        <div class="p-footer-copyright--flex">
                            <div class="copyright-left">
                                <a href="https://xenforo.com"
                                   class="u-concealed"
                                   dir="ltr"
                                   target="_blank">
                                    Forum software by XenForo<sup>&reg;</sup>
                                    <span class="copyright">
                                        &copy; 2010-2020 XenForo Ltd.
                                    </span>
                                </a>
                                <span class="p-pe-copyright">
                                    Design by: <a href="https://pixelexit.com">Pixel Exit</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

