                <header class="p-header" id="header">
                    <div class="p-header-inner">
                        <div class="p-header-content">
                            <div class="p-header-logo p-header-logo--image">
                                <a href="{{ site.data.settings.url | default: '/' }}">
                                    {{ site.data.settings.title }}
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
