                <div class="p-navSticky p-navSticky--primary" data-xf-init="sticky-header">
                    <div class="p-nav--wrapper">
                        <nav class="p-nav">
                            <div class="p-nav-inner">
                                <a class="p-nav-menuTrigger" data-xf-click="off-canvas"
                                   data-menu=".js-headerOffCanvasMenu" role="button"
                                   tabindex="0">
                                    <i aria-hidden="true"></i>
                                    <span class="p-nav-menuText">Menu</span>
                                </a>
                                <div class="p-nav-smallLogo">
                                    <a href="https://longhaircareforum.com/forums">
                                        LHCF
                                    </a>
                                </div>
                                <div class="p-nav-scroller hScroller" data-xf-init="h-scroller"
                                     data-auto-scroll=".p-navEl.is-selected">
                                    <div class="hScroller-scroll">
                                        <ul class="p-nav-list js-offCanvasNavSource">
                                            <li class="navforums">
                                                <div class="p-navEl is-selected"
                                                     data-has-children="true">
                                                    <a href="/"
                                                       class="p-navEl-link p-navEl-link--splitMenu "
                                                       data-nav-id="forums">
                                                        FOTM
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="navtshirts">
                                                <div class="p-navEl ">
                                                    <a href="https://ritualtshirts.com/"
                                                       class="p-navEl-link "
                                                       data-xf-key="5"
                                                       data-nav-id="tshirts">
                                                        T-Shirts
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="navsubscribe">
                                                <div class="p-navEl ">
                                                    <a href="https://longhaircareforum.com/account/upgrades"
                                                       class="p-navEl-link "
                                                       data-xf-key="6"
                                                       data-nav-id="subscribe">
                                                        !! SUBSCRIBE !!
                                                    </a>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="p-nav-opposite">
                                    <div class="p-navgroup p-account p-navgroup--member">
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
