<div class="p-sidebarWrapper">
    <div class="p-body-sidebar">
        <div class="block">
            <div class="block-container">
                <h3 class="block-minorHeader">
                    Advertisements
                </h3>
                <div class="block-body">
                    <div class="block-row block-row--minor">
                        <h4 class="block-textHeader block-textHeader--scaled">
                            Sub Header
                        </h4>
                        Block Text
                    </div>
                </div>

                <div class="block-footer">
                                            <span class="block-footer-counter">
                                                Block Footer
                                            </span>
                </div>
            </div>
        </div>
        {% include widgets/tags.html %}
        {% include widgets/sharethis.html %}
    </div>
</div>
