<div class="p-sidebarWrapper">
    <div class="p-body-sidebar">
        <div class="block">
            <div class="block-container">
                <h3 class="block-minorHeader">
                    Advertisements
                </h3>
                <div class="block-body">
                    <div class="block-row block-row--minor">
                        <h4 class="block-textHeader block-textHeader--scaled">
<!--                            Sub Header-->
                        </h4>
                        
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar - Top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8403793241055206"
     data-ad-slot="2411131992"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                        
                    </div>
                </div>

                <div class="block-footer">
                    <span class="block-footer-counter">
<!--                        Block Footer-->
                    </span>
                </div>
            </div>
        </div>
        {% include widgets/tags.html %}
        {% include widgets/sharethis.html %}
    </div>
</div>
