                                <div class="block">
                                    <div class="block-container">
                                        <h3 class="block-minorHeader">
                                            Tags
                                        </h3>
                                        <div class="block-body">
                                            <div class="block-row block-row--minor">
                                                <ul class="listInline listInline--comma">
                                                    <li>
                                                        <a href="/tags/fotm/"
                                                           class="username"
                                                           dir="auto">
                                                            fotm
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/tags/natural/"
                                                           class="username"
                                                           dir="auto">
                                                            natural
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/tags/2b/"
                                                           class="username"
                                                           dir="auto">
                                                            2b
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
