{% assign tags = site.tags | sort %}
<div class="block">
    <div class="block-container">
        <h3 class="block-minorHeader">
            Tags
        </h3>
        <div class="block-body">
            <div class="block-row block-row--minor">
                <ul class="listInline listInline--comma">
                    {% for tag in tags %}
                    <li>
                        {{ tag[0] }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
