---
layout: default
type: post
---

<div class="block-container lbContainer"
     data-lb-id="thread-75434"
     data-lb-universal="1"
     data-message-selector=".js-post"
     data-xf-init="lightbox select-to-quote">

    <div class="block-body js-replyNewMessageContainer">
        <article class="message message--post js-post js-inlineModContainer  "
                 data-author="dimopoulos"
                 data-content="post-1243562"
                 id="js-post-1243562">
            <span class="u-anchorTarget" id="post-{{ post.id }}"></span>
            <div class="message-inner">
                <div class="message-cell message-cell--user">
                    <section class="message-user" itemscope
                             itemtype="https://schema.org/Person">
                        <div class="message-avatar message-avatar--online">
                            <div class="message-avatar-wrapper">
                                <a class="avatar avatar--m"
                                   data-user-id="1"
                                   data-xf-init="member-tooltip"
                                   href="#">
                                    <img alt="beverly"
                                         class="avatar-u1-m"
                                         height="96"
                                         itemprop="image"
                                         loading="lazy"
                                         src="/assets/images/2.jpg"
                                         width="96"/>
                                </a>
                            </div>
                        </div>
                        <div class="message-userDetails">
                            <h4 class="message-name">
                                <span class="username--style3 username--staff username--moderator username--admin">
                                    beverly
                                </span>
                            </h4>
                            <h5 class="userTitle message-userTitle" dir="auto"
                                itemprop="jobTitle">
                                Admin (November 2020 Photo)
                            </h5>
                            <div class="userBanner userBanner--staff message-userBanner"
                                 dir="auto" itemprop="jobTitle">
                                <span class="userBanner-before"></span>
                                <strong>Staff member</strong>
                                <span class="userBanner-after"></span>
                            </div>
                        </div>
                        <span class="message-userArrow"></span>
                    </section>
                </div>

                <div class="message-cell message-cell--main">
                    <div class="message-main js-quickEditTarget">
                        <header class="message-attribution message-attribution--split">
                            <ul class="message-attribution-main listInline ">
                                <li class="u-concealed">
                                    <a href="{{ page.url }}"
                                       rel="nofollow">
                                        <time class="u-dt"
                                              data-date-string="{{ page.date | date: '%b %d, %Y' }}"
                                              data-time="{{ page.date | date: '%s' }}"
                                              data-time-string="{{ page.date | date: '%I:%m %p' }}"
                                              datetime="{{ page.date | date: date_to_xmlschema }}"
                                              dir="auto"
                                              itemprop="datePublished"
                                              title="{{ page.date | date: '%b %d, %Y at %I:%m %p' }}">
                                            {{ page.date | date: '%b %d, %Y' }}
                                        </time>
                                    </a>
                                </li>
                            </ul>
                            <ul class="message-attribution-opposite message-attribution-opposite--list ">
                                <li>
                                    <a href="{{ page.url }}"
                                       rel="nofollow">
                                        #1
                                    </a>
                                </li>
                            </ul>
                        </header>

                        <div class="message-content js-messageContent">
                            <div class="message-userContent lbContainer js-lbContainer "
                                 data-lb-caption-desc="beverly &middot; {{ page.date | date: '%b %d, %Y at %I:%m %p' }}"
                                 data-lb-id="post-{{ page.id }}">
                                <article class="message-body js-selectToQuote">
                                    <div class="bbWrapper">
                                        {{ page.content }}
                                    </div>
                                    <div class="js-selectToQuoteEnd">&nbsp;
                                    </div>
                                </article>

                                <section class="message-attachments">
                                    <h4 class="block-textHeader">
                                        Attachments
                                    </h4>
                                    <ul class="attachmentList">
                                        <script class="js-extraPhrases"
                                                type="application/json">
                                            {
                                                "lightbox_close": "Close",
                                                "lightbox_next": "Next",
                                                "lightbox_previous": "Previous",
                                                "lightbox_error": "The requested content cannot be loaded. Please try again later.",
                                                "lightbox_start_slideshow": "Start slideshow",
                                                "lightbox_stop_slideshow": "Stop slideshow",
                                                "lightbox_full_screen": "Full screen",
                                                "lightbox_thumbnails": "Thumbnails",
                                                "lightbox_download": "Download",
                                                "lightbox_share": "Share",
                                                "lightbox_zoom": "Zoom",
                                                "lightbox_new_window": "New window",
                                                "lightbox_toggle_sidebar": "Toggle sidebar"
                                            }
                                        </script>
                                        {% if page.image1 %}
                                        <li class="file file--linked">
                                            <a class="file-preview js-lbImage"
                                               data-lb-caption-extra-html=""
                                               data-lb-sidebar-href=""
                                               href="{{ page.image1 }}"
                                               target="_blank">
                                                <img alt="{{ page.image1 | replace: '/assets/files/', '' }}"
                                                     height="66"
                                                     loading="lazy"
                                                     src="{{ page.image1 }}"
                                                     width="100"/>
                                            </a>
                                            <div class="file-content">
                                                <div class="file-info">
                                                    <span class="file-name"
                                                          title="{{ page.image1 | replace: '/assets/files/', '' }}">
                                                        {{ page.image1 | replace: '/assets/files/', '' }}
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if page.image2 %}
                                        <li class="file file--linked">
                                            <a class="file-preview js-lbImage"
                                               data-lb-caption-extra-html=""
                                               data-lb-sidebar-href=""
                                               href="{{ page.image2 }}"
                                               target="_blank">
                                                <img alt="{{ page.image2 | replace: '/assets/files/', '' }}"
                                                     height="66"
                                                     loading="lazy"
                                                     src="{{ page.image2 }}"
                                                     width="100"/>
                                            </a>
                                            <div class="file-content">
                                                <div class="file-info">
                                                    <span class="file-name"
                                                          title="{{ page.image2 | replace: '/assets/files/', '' }}">
                                                        {{ page.image2 | replace: '/assets/files/', '' }}
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if page.image3 %}
                                        <li class="file file--linked">
                                            <a class="file-preview js-lbImage"
                                               data-lb-caption-extra-html=""
                                               data-lb-sidebar-href=""
                                               href="{{ page.image3 }}"
                                               target="_blank">
                                                <img alt="{{ page.image3 | replace: '/assets/files/', '' }}"
                                                     height="66"
                                                     loading="lazy"
                                                     src="{{ page.image3 }}"
                                                     width="100"/>
                                            </a>
                                            <div class="file-content">
                                                <div class="file-info">
                                                    <span class="file-name"
                                                          title="{{ page.image3 | replace: '/assets/files/', '' }}">
                                                        {{ page.image3 | replace: '/assets/files/', '' }}
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if page.image4 %}
                                        <li class="file file--linked">
                                            <a class="file-preview js-lbImage"
                                               data-lb-caption-extra-html=""
                                               data-lb-sidebar-href=""
                                               href="{{ page.image4 }}"
                                               target="_blank">
                                                <img alt="{{ page.image4 | replace: '/assets/files/', '' }}"
                                                     height="66"
                                                     loading="lazy"
                                                     src="{{ page.image4 }}"
                                                     width="100"/>
                                            </a>
                                            <div class="file-content">
                                                <div class="file-info">
                                                    <span class="file-name"
                                                          title="{{ page.image4 | replace: '/assets/files/', '' }}">
                                                        {{ page.image4 | replace: '/assets/files/', '' }}
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if page.image5 %}
                                        <li class="file file--linked">
                                            <a class="file-preview js-lbImage"
                                               data-lb-caption-extra-html=""
                                               data-lb-sidebar-href=""
                                               href="{{ page.image5 }}"
                                               target="_blank">
                                                <img alt="{{ page.image5 | replace: '/assets/files/', '' }}"
                                                     height="66"
                                                     loading="lazy"
                                                     src="{{ page.image5 }}"
                                                     width="100"/>
                                            </a>
                                            <div class="file-content">
                                                <div class="file-info">
                                                    <span class="file-name"
                                                          title="{{ page.image5 | replace: '/assets/files/', '' }}">
                                                        {{ page.image5 | replace: '/assets/files/', '' }}
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </section>
                            </div>

                            <div class="message-lastEdit"></div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
