---
layout: default
---
    <div class="block block--messages" data-xf-init="inline-mod" data-type="post" data-href="/inline-mod/" data-search-target="*">
        <span class="u-anchorTarget" id="posts"></span>
        <div class="block-outer">
            <div class="block-outer-opposite">
                <div class="buttonGroup">
                    <button type="button" class="button--link js-inlineModTrigger button" data-xf-init="tooltip" title="Number of items selected for moderation">
                        <span class="button-text">
                            <span class="inlineModButton ">
                                <i aria-hidden="true"></i>
                                <span class="inlineModButton-label">Moderation</span>
                                <span class="inlineModButton-count js-inlineModCounter">0</span>
                            </span>
                        </span>
                    </button>
                    <div class="buttonGroup-buttonWrapper">
                        <button type="button" class="button--link menuTrigger button" data-xf-click="menu" aria-expanded="false" aria-haspopup="true" title="More options"><span class="button-text">&#8226;&#8226;&#8226;</span></button>
                        <div class="menu" data-menu="menu" aria-hidden="true">
                            <div class="menu-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-outer js-threadStatusField"></div>
        <div class="block-container lbContainer"
             data-xf-init="lightbox select-to-quote"
             data-message-selector=".js-post"
             data-lb-id="thread-75434"
             data-lb-universal="1">
            <div class="block-body js-replyNewMessageContainer">
                <article class="message message--post js-post js-inlineModContainer  "
                         data-author="dimopoulos"
                         data-content="post-1243562"
                         id="js-post-1243562">

                    <span class="u-anchorTarget" id="post-1243562"></span>
                        <div class="message-inner">
                            <div class="message-cell message-cell--user">
                                <section itemscope itemtype="https://schema.org/Person" class="message-user">
                                    <div class="message-avatar message-avatar--online">
                                        <div class="message-avatar-wrapper">
                                            <a href="/members/dimopoulos.1/" class="avatar avatar--m" data-user-id="1" data-xf-init="member-tooltip">
                                                <img src="/data/avatars/m/0/1.jpg?1428181912"  alt="dimopoulos" class="avatar-u1-m" width="96" height="96" loading="lazy" itemprop="image" />
                                            </a>
                                            <span class="message-avatar-online" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="Online now"></span>
                                        </div>
                                    </div>
                                    <div class="message-userDetails">
                                        <h4 class="message-name"><a href="/members/dimopoulos.1/" class="username " dir="auto" itemprop="name" data-user-id="1" data-xf-init="member-tooltip" itemprop="name"><span class="username--style3 username--staff username--moderator username--admin">dimopoulos</span></a></h4>
                                        <h5 class="userTitle message-userTitle" dir="auto" itemprop="jobTitle">Crazy Greek</h5>
                                        <div class="userBanner userBanner--staff message-userBanner" dir="auto" itemprop="jobTitle"><span class="userBanner-before"></span><strong>Staff member</strong><span class="userBanner-after"></span></div>
                                    </div>
                                    <span class="message-userArrow"></span>
                                </section>
                            </div>
                            <div class="message-cell message-cell--main">
                                <div class="message-main js-quickEditTarget">
                                    <header class="message-attribution message-attribution--split">
                                        <ul class="message-attribution-main listInline ">
                                            <li class="u-concealed">
                                                <a href="/threads/congradulations-to-2002-december-feature-of-the-month-armyqt.75434/post-1243562" rel="nofollow">
                                                    <time  class="u-dt" dir="auto" datetime="2006-01-13T08:40:59-0500" data-time="1137159659" data-date-string="Jan 13, 2006" data-time-string="8:40 AM" title="Jan 13, 2006 at 8:40 AM" itemprop="datePublished">Jan 13, 2006</time>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="message-attribution-opposite message-attribution-opposite--list ">
                                            <li>
                                                <a href="/threads/congradulations-to-2002-december-feature-of-the-month-armyqt.75434/post-1243562"
                                                   class="message-attribution-gadget"
                                                   data-xf-init="share-tooltip"
                                                   data-href="/posts/1243562/share"
                                                   rel="nofollow">
                                                    <i class="fa--xf fal fa-share-alt" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/posts/1243562/bookmark" class="bookmarkLink message-attribution-gadget bookmarkLink--highlightable "
                                                   title="Bookmark"
                                                   data-xf-click="bookmark-click"
                                                   data-label=".js-bookmarkText"
                                                   data-sk-bookmarked="addClass:is-bookmarked, Edit bookmark"
                                                   data-sk-bookmarkremoved="removeClass:is-bookmarked, Add bookmark"><span class="js-bookmarkText u-srOnly">Add bookmark</span></a>
                                            </li>
                                            <li>
                                                <a href="/threads/congradulations-to-2002-december-feature-of-the-month-armyqt.75434/post-1243562" rel="nofollow">
                                                    #1
                                                </a>
                                            </li>
                                        </ul>
                                    </header>
                                    <div class="message-content js-messageContent">
                                        <div class="message-userContent lbContainer js-lbContainer "
                                             data-lb-id="post-1243562"
                                             data-lb-caption-desc="dimopoulos &middot; Jan 13, 2006 at 8:40 AM">
                                            <article class="message-body js-selectToQuote">
                                                <div class="bbWrapper">
                                                    {{ content }}
                                                </div>
                                                <div class="js-selectToQuoteEnd">&nbsp;</div>
                                            </article>
                                            <section class="message-attachments">
                                                <h4 class="block-textHeader">Attachments</h4>
                                                <ul class="attachmentList">
                                                    <li class="file file--linked">
                                                        <script class="js-extraPhrases" type="application/json">
                                                            {
                                                                "lightbox_close": "Close",
                                                                "lightbox_next": "Next",
                                                                "lightbox_previous": "Previous",
                                                                "lightbox_error": "The requested content cannot be loaded. Please try again later.",
                                                                "lightbox_start_slideshow": "Start slideshow",
                                                                "lightbox_stop_slideshow": "Stop slideshow",
                                                                "lightbox_full_screen": "Full screen",
                                                                "lightbox_thumbnails": "Thumbnails",
                                                                "lightbox_download": "Download",
                                                                "lightbox_share": "Share",
                                                                "lightbox_zoom": "Zoom",
                                                                "lightbox_new_window": "New window",
                                                                "lightbox_toggle_sidebar": "Toggle sidebar"
                                                            }
                                                        </script>
                                                        <a class="file-preview js-lbImage" data-lb-sidebar-href="" data-lb-caption-extra-html="" href="/attachments/armyqt2-jpg.1796/" target="_blank">
                                                            <img src="/data/attachments/1/1326-4d0b8aa96f0045c0d75b6a98ca4ac065.jpg" alt="ARMYQT2.JPG"
                                                                 width="100" height="66" loading="lazy" />
                                                        </a>
                                                        <div class="file-content">
                                                            <div class="file-info">
                                                                <span class="file-name" title="ARMYQT2.JPG">ARMYQT2.JPG</span>
                                                                <div class="file-meta">
                                                                    51.8 KB &middot; Views: 82
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="file file--linked">
                                                        <a class="file-preview js-lbImage" data-lb-sidebar-href="" data-lb-caption-extra-html="" href="/attachments/armyqt3-jpg.1797/" target="_blank">
                                                            <img src="/data/attachments/1/1327-2af2d9980bd81eedc1137c5dc52110db.jpg" alt="ARMYQT3.JPG"
                                                                 width="100" height="66" loading="lazy" />
                                                        </a>
                                                        <div class="file-content">
                                                            <div class="file-info">
                                                                <span class="file-name" title="ARMYQT3.JPG">ARMYQT3.JPG</span>
                                                                <div class="file-meta">
                                                                    53.7 KB &middot; Views: 90
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                        <div class="message-lastEdit">
                                        </div>
                                        <aside class="message-signature">

                                            <div class="bbWrapper">
                                                Nikos Dimopoulos<br />
                                                <br />
                                                Internet Technology Consultants - <a href="https://niden.net" target="_blank" class="link link--external" rel="noopener">niden.net</a><br />
                                                <br />
                                                <b>Check the status of your support ticket at anytime by visiting: <a href="https://support.longhaircareforum.com" target="_blank" class="link link--external" rel="noopener">https://support.longhaircareforum.com</a></b><br />
                                                <br />
                                                <i>Please do not send me private messages with support questions since I will not answer them. Instead visit the support section of our forum.</i>
                                            </div>
                                        </aside>
                                    </div>
                                    <footer class="message-footer">
                                        <div class="message-actionBar actionBar">
                                            <div class="actionBar-set actionBar-set--external">
                                            </div>
                                            <div class="actionBar-set actionBar-set--internal">
                                            </div>
                                        </div>
                                        <div class="reactionsBar js-reactionsList ">
                                        </div>
                                        <div class="js-historyTarget message-historyTarget toggleTarget" data-href="trigger-href"></div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="block-outer block-outer--after">
                <div class="block-outer-opposite"></div>
            </div>
        </div>
